{% extends "base.html" %}
{% block title%}Home page{% endblock %}

{% block content %}

<div>
<p>Welcome to the Skill Stack Learning platform. Discover the amazing courses allover the world. Ignite your tech career here</p>
<p>Let's get <button>Started</button></p>

<!--<nav class="navbar bg-body-tertiary">
	<div class="container-fluid">
	  <form class="d-flex" role="search">
		<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success" type="submit">Search</button>
	  </form>
	</div>
  </nav>
</div>-->
</div>

{% endblock content %}
